
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&family=Source+Sans+Pro:wght@200;300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #504d4d;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252522;
}

#heading {
    text-align: center;
    font-size: 280%;
    margin-top: 3%;
}

.greeting {
    width: 300px;
    font-size: 4vh;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1%;
    align-items: center;
    margin-left: 7%;
}


/* game-area */

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.controls-area {
    width: 85%;
    margin: 30px auto
}

* --------- Buttons */

/* button-area */

.btn {
    width: 220px;
    height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
}

.btn:focus {
outline: none;
}

.btn--big {
padding-top: 10px;
border-radius: 50%;
background-color: white;
border: 10px solid;
width: 100px;
height: 100px;
font-size: 3.2rem;
margin: 0 30px;
transition: all 0.5s;
}

.btn--blue {
border-color: blue;
color:  blue;
}

.btn--blue:active,
.btn--blue:hover {
background-color: darkblue;
color: white;
}

.btn--green {
border-color: green;
color: green;
}

.btn--green:active,
.btn--green:hover {
background-color: darkgreen;
color: white;
}

.btn--red {
border-color: red;
color: red;
}

.btn--red:active,
.btn--red:hover {
background-color: darkred;
color: white;
}

button > i {
height: 100%;
width: 100%;
}

.points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.pointscounter_name,
.playerPoints,
.computerPoints {
    padding: 10px;
    text-align: center;
}

.pointscounter_name {
    font-weight: 500;
    border-bottom: 1px solid;

}

.pointscounter_name_two {
    color: green
}

.pointscounter_name_one {
    color: red
}
    
.playerPoints {
    font-size: 2em;
}

.computerPoints {
    font-size: 2em;
}

/* Result board */
 
.results {
display: flex;
align-content: center;
justify-content: center;
padding: 2%
}

.resultBoard > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
    
.result1 {
    width: 100px;
    height: 60px;
    background-color: #E6ECF0;
    border-radius: 8px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight:500;
}

.result2 {
    width: 100px;
    height: 60px;
    background-color: #E6ECF0;
    border-radius: 8px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
}
            

.result1 > #player-choice {
    font-size: 20px;
}
            
.result2 > #computer-choice {
    font-size :20px;
    
}

.resultBoard > #result {
    font-size :20px;
}

/* rules-area */

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

/* media queries */


@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    
    .btn--gray {
        margin-top: 0;
    }
}


@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

}
}